/* App.css */



/* Estilos para centrar el contenido en la pantalla */
.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Hace que el contenedor ocupe toda la altura de la pantalla */
  margin-left: 80px;
  margin-Right: 200px
}
.mensaje{
  color: rgb(0, 255, 38);
}
img{
  background-color:#e6e6fa;
  border: #6f077d solid;
  border-radius: 20px;
  padding: 5px;
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.5))
}

img:hover{
  border: #e6e923 solid;
  transform: translateY(-5px);
  transition: transform 0.7s ease;
}

button{
  margin-bottom: 1px;
  color: #e6e6fa;
  background-color: #e6e6fa;
  background: #e6e6fa;
  border: none;

}

h2 {
  margin-bottom: 50px;
}

/* Resto de los estilos personalizados que puedas necesitar */
